<!-- genetate product -->
<div class="col mb-5">
  <div class="card" [routerLink]="['/details', product.id]" >
    <!-- product chip on stock -->
    @if (product.stock == 0){
    <div class="badge bg-danger text-white" id="stock-status">Out of Stock</div>
    }
    @else{<div class="badge" id="stock-status">In Stock</div>}
    <!-- Product image-->
    <img class="card-img-top" [src]="product.images[0]" alt="{{ product.title }}"
      />
    <!-- Product details-->
    <div class="card-body ">

      <!-- Product name-->
      <h5 class="fw-bolder">{{product.title}}</h5>
      <!-- Product description-->
      <p id="description" class="text-secondary">{{product.description.split('.')[0] }}</p>
    </div>
    <!-- Product rating -->
    <div class="d-flex justify-content-end" >
     <div class="span d-flex justify-content-end">
      <div  id="star">
        @for (star of [1,2,3,4,5]; track $index) {
             @if (star <= (product.rating)) {
              <i class="fa-solid fa-star"></i>
             }
             @else if (star + 0.5 == toInt(product.rating) + 0.5) {
              <i class="fa-solid fa-star-half-stroke"></i>
             }
             @else {
              <i class="fa-regular fa-star"></i>
             }
        }
      </div>
      <div id="rate" class="me-3 ms-2 fs-6">{{product.rating | number: '1.1-1' }}</div>
    </div>
     </div>

    <!-- Product price & add to cart-->
    <div class="d-flex justify-content-between align-items-center ms-3 me-3 mb-3">

      <div class="d-flex flex-column">
        <!-- price -->
        <div class="price fs-4 fw-bold">
          ${{product.price}}
        </div>
        <!-- discount -->
        <div class="discount fs-6 text-secondary">
          ${{(product.price+product.discountPercentage).toFixed(2)}}
        </div>
      </div>
      <!-- add to cart -->
      <div class="row btn_class" >
        <button class="btn btn-outline-dark flex-shrink-0" id="addTocart" (click)="addToCart($event,product.id)" >
          <i class="bi-cart-fill me-1"></i>
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>