<nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky top-0 z-1">
  <div class="container px-4 px-lg-5 ">
    <a class="navbar-brand  " [routerLink]="['/']">Ecommerce</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

      </ul>

      <!-- login -->
      <button class="btn  m-2 " routerLink="login" routerLinkActive="active-link"><span><i
            class="fa-solid fa-user"></i> Login</span></button>
      <!-- register -->
      <button class="btn m-2 " routerLink="register" routerLinkActive="active-link">
        <span><i class="fa-solid fa-user-plus "></i> Register</span>
      </button>
      <!-- cart -->
      <button class="btn m-2 "  routerLink="cart" routerLinkActive="active-link">

        <span><i class="fa-solid fa-shopping-cart fa-lg me-2"></i>{{ cartCount }}</span>
      </button>

    </div>
  </div>
</nav>